body {
    /* height: 100vh;*/
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
}


#dima_container {
    height: 100vh;
    width: 100%;
    background-color: rgb(91, 120, 234); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(22,173,139);
    background: radial-gradient(circle, rgba(22,173,139,1) 9%, rgba(45,240,228,1) 44%, rgba(0,0,0,1) 100%);
    /* background: linear-gradient(1deg, #080e10, #56d2cd, #080e10);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite; */
}

/* @-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
} */

#dima_top, #dima_middle, #dima_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}

#dima_top, #dima_bottom {
    
}

#dima_top {
    /* background-color: yellow;
    opacity: .5; */
    
}
#dima_middle {
    /* background-color: blue;
    opacity: .5; */
}

#dima_bottom {
    /* background-color: green;
    opacity: .5; */
}

#top_left, #top_center, #top_right, #middle_left, #middle_center, #middle_right, #bottom_left, #bottom_center, #bottom_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 100px; 
    width: 100px;
    border-radius: 100%;
   
    border: none;
    outline: none;
    color: #000000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;

}

.buttons:after {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: 100px;
    height: 100px;
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 100%;
}

.buttons:active {
    color: #000
}

.buttons:active:before {
    background: transparent;
}

.buttons:hover:after {
    opacity: 1;
}

.buttons:before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 100%;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

#middle_center {
    font-style: italic;
}